<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.shoppingapp">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ViewOrdersActivity"></activity>
        <activity android:name=".Category.KidsActivity" />
        <activity android:name=".Category.WomenActivity" />
        <activity android:name=".Category.MenActivity" />
        <activity android:name=".Category.CategoryListActivity" />
        <activity android:name=".WishListActivity" />
        <activity android:name=".ForgetPasswordActivity" />
        <activity android:name=".Admin.AdminMaintainProductsActivity" />
        <activity android:name=".SearchProductsActivity" />
        <activity android:name=".Admin.AdminUsersProductsActivity" />
        <activity android:name=".Admin.AdminNewOrdersActivity" />
        <activity android:name=".ConfirmOrderActivity" />
        <activity android:name=".CartActivity" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ProductDetailsActivity" />
        <activity android:name=".SettingsActivity" />
        <activity
            android:name=".HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Admin.AdminCategoryActivity" />
        <activity android:name=".Admin.AdminAddProductActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".MainActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity> <!-- (edited by urme) optional (needed if default theme has no action bar) -->
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>